*{
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  flex-direction: column;
  font-family: "prompt", sans-serif;
}

.global{
  display: flex;
  min-height: 40vh;
  justify-content: center;
}

.global > section,
.global > header,
.global > footer{
  flex: 0 1 900px;
  z-index: 1;
  padding: 3rem 1rem;
  text-align: center;
}

.global > section{
  min-width: 80%;
}

#entete, #footer{
  min-height: 20vh;
}
#entete{
  background-color: var(--couleur-arriere-entete);
  color : var(--couleur-avant-entete);
  position: relative;
}

#accueil{
  background-color: var(--couleur-arriere-accueil);
  color : var(--couleur-avant-accueil);
  display: flex;
  
}

#evenement{
  background-color: var(--couleur-arriere-evenement);
  color : var(--couleur-avant-evenement);
  
  
}

#galerie{
  background-color: var(--couleur-arriere-galerie);
  color : var(--couleur-avant-galerie);
}

#footer{
  background-color: var(--couleur-arriere-footer);
  color : var(--couleur-avant-footer);
  position: relative;
}

.button { 
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--couleur-arriere-bouton); 
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 1%;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--couleur-hover-bouton); 
}

footer > .button { 
  display: inline-block;
  padding: 10px 10px;
  background-color: var(--couleur-arriere-bouton); 
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 1%;
  margin-bottom: 2%;
  transition: background-color 0.3s ease;
}

footer > .button:hover {
  background-color: var(--couleur-hover-bouton); 
}

a{
  color: black;
}

a:hover{
  color: white ;
}