:root {
  --couleur-arriere-entete : #df5e5e;
  --couleur-arriere-accueil : rgb(82, 148, 82);
  --couleur-arriere-evenement : rgb(92, 176, 197);
  --couleur-arriere-galerie : rgb(194, 207, 97);
  --couleur-arriere-footer : rgb(225, 160, 96);
  /*niveau de transparence des h*/
  --transparence-h1 : .5;
  //transparence section
  --transparence-section : .05;
}