*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.menu {
  transform: translateX(350%);
}

@media (min-width: 700px) {
.menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  transform: translateX(0);
}
}
 
.menu__header{
  overflow-x: hidden ;
}


#burger {
  @media (min-width: 700px){
    display : none;
  }
}

#chk_burger{
  display: none;
}

#chk_burger:checked ~ .menu__header .menu {
  transform : translateX(0);
}