/*
Feuille de style du menu principal
*/


.menu-principal-container {
  background-color: var(--couleur-accueil);
 
  .menu {
    position: absolute;
    display: flex;
    list-style-type: none;
    flex-direction: column;
    transform: translateX(300%);
  }
 
  @media (min-width: 700px) {
    .menu {
        position: static;
        flex-direction: row;
        display: flex;
        transform: translateX(0);
    }
  }
 
  .menu-item {
    flex: 1 0 50px;
    text-align: center;
    background-color: var(--couleur-accueil);
    margin: 5px;
    padding: 5px;
   
  }
 
  .menu-item a {
    color: #fff;
  }

  .menu-item a:hover{
    border: 2px dotted blue;
    text-decoration: none;
    border-radius: 15%;
    padding: 3px;
  }
 
}
 
 
#burger {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
}
 
#burger {
  display: block;
  position: absolute;
  top: 10px;
  right : 10px;
  @media (min-width: 700px){
    display : none;
  }
}
 
#chk_burger:checked ~ .menu {
  transform : translateX(0);
}





