/*
https://chrisburnell.com/clamp-calculator/
*/

h1{
  font-size:clamp(1.25rem, -2.656rem + 12.5vw, 4.375rem);
  font-style: normal;
  font-weight: 600;
}

h2{
  font-size:clamp(1rem, -1.292rem + 7.333vw, 3.75rem);
  font-style: normal;
  font-weight: 500;
}
h3{
  font-size:clamp(1rem, -1.292rem + 7.333vw, 3.75rem);
  font-style: normal;
  font-weight: 500;
}
h4{

}
h5{

}
h6{

}