a{
  color: var(--couleur-lien);
  text-decoration: none;
  transition: color 0.5s ease-in-out;
  font-size:1.3rem;
  &:hover{
    color:var(--couleur-hover);
    text-decoration: underline;
  }
  &:focus{
    outline: 2px solid var(--focus-outline-color);
    outline-offset: 1px;
  }
}

@media screen and (max-width:600px){
  a{
    font-size: 1rem;
  }
}