.diagonal{
  position: relative;
  isolation: isolate;
  //z-index:-1;
}

.diagonal::after{
  position:absolute;
  content:"";
  /*left: 0;
  right: 0;
  top: 0;
  bottom: 0;*/
  inset: 0;

  z-index: -1;
  opacity: .5;
  background-color: var(--couleur-arriere-diagonal);
  transform: skewY(-5deg);
  border: solid 1px black;
  box-shadow: 10px 10px 30px 10px;
}